#label-custom{
	
   
    text-align: left;
	color:black;
	display: inline-block;
}
#label-custom.labelcls{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height:100px;
	width:700px;
	color:#D9230F;
	display: inline-block;
}
#button-custom{
	right:100px;
	height:30px;
	width:100px;
	color:black;
}
